/* Estilo general del sidenav */
.sidenav {
    height: 100%;
    width: 100%;
    background-color: gray;
    overflow-x: hidden;
    border-radius: 8px;
}
  
/* Estilo de las opciones del sidenav y el botón */
.sidenav a, .dropdown-btn {
    border: none; 
    margin-left: 2%;
    padding: 6px 8px 6px 16px;
    margin-top: 4px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    background: none;
    width:95%;
    text-align: left;
}
  
/* Estilo cuando se colocola el mouse sobre una de las opciones */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
    background-color: cadetblue;
    border: 2px solid white;
}
  
/* Estilo al Dropdown */
.dropdown-container {
    display: none;
    background-color: gray;
    padding-left: 8px;
}
  
/* Establecer un estilo a la figura de la flecha 
para el despliegue de las opciones */
.fa-caret-down {
    float: right;
    margin-right: 10%;
    transition: transform 0.3s ease;
}

/* Muestra el contenedor desplegable cuando está activo */
.dropdown-container.show {
    display: block;
}

/* Cambia el icono cuando el dropdown está abierto */
.dropdown-btn .fa-caret-down.active {
    transform: rotate(180deg);
}

