/* Add a black background color to the top navigation bar */
.topnav {
	overflow: hidden;
}

.central1 {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center
}

.central {
	background-color: gray;
	display: flex;
    justify-content: space-between;
	border-radius: 8px;
}
 
.topnav a {
	float: left;
	display: block;
	color: rgb(36, 27, 27);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}
  
.topnav a:hover {
	background-color: cadetblue;
	color: rgb(255, 255, 255);
}

.search-container {
    display: flex; 
	margin-right: 10%;
    margin-right: 5%;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
}

.search-container input[type=text] {
    float: right;
    padding: 6px;
	border: 2px solid #616c77; 
    border-radius: 8px 0  0 8px; 
    font-size: 20px;
	color: black; 
	background-color: #f5f6f7;
}

.search-container button {
	font-size: 20px;
	border: 2px solid #616c77; 
    padding: 6px 12px; 
    border-radius: 0 8px 8px 0;
    background-color: #616c77; 
    color: white; 
}

.search-container button:hover {
	background-color: #569de4;
	color: rgb(255, 255, 255);
}

.search-container input[type=text]::placeholder {
    color: black; 
}

.central1 button {
	font-size: 20px;
	border: 2px solid rgb(40, 36, 36); 
    border-radius: 8px;
    background-color: #616c77; 
    color: white;
	margin-right: 10%;
	width: 12%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 73%;
}

.central1 button img {
    width: 100%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 100%; /* Ajusta el tamaño de la imagen según sea necesario */
}