* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "inter", sans-serif;
}

.header,
.main,
.form,
.footer {
	width: 98%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
    margin-bottom: 10px; 
}

.footer {
    margin-top: 10px;
}